body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  font-size: 2em;
  font-weight: bold;
  color: #00b7ff;
}

.message-container ul {
  display: flex;
  flex-direction: column;
  /* background: blue; */
}

li {
  list-style: none;
  border-bottom: 2px solid black;
  margin: 0.25em;
  padding: 0.25em;
}
